/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset styling */

.header {
    background-color: #ffffff;
    width:100%;
    box-sizing: border-box;
    border-top: #ffffff solid 5px;
    height: 70px;
    margin: 0 auto;
}

.toptab {
    background-color: #4aaaa5;
    color: white;

}

body {
    background-image: url("../images/memphis-mini-dark.png");
    /*=========================================================================
 This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
 If you need more, that's where to get'em.
 ========================================================================*/
    background-color: black;
    background-attachment: fixed;
}

.footwrapper {
    min-height: 100%;
    max-width: 960px;
}

.wrapper {
    min-height: 100%;
    max-width: 960px;
    margin-bottom: 50px;
}

.main {
    max-width: 700px;
    background-color: #ffffff;
    margin-left: 100px;
}

footer {
    background-color: #666666 ;
    border-top: 8px solid #4aaaa5;
    max-width: 960px;
    margin-top: 50px;
    height: 58px;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box ;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

}
